<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="invoiceService" class="com.mycompany.invoise.service.InvoiceServicePrefix">
        <property name="invoiceRepository" ref="invoiceRepository"/>
        <property name="lastNumber" value="112"/>
        <property name="prefix" value="INV_"/>
    </bean>

    <bean class="com.mycompany.invoise.controller.InvoiceControllerWeb">
        <property name="invoiceService" ref="invoiceService"/>
    </bean>

    <bean id="invoiceRepository" class="com.mycompany.invoise.repository.InvoiceRepositoryDatabase"/>
    

</beans>